.hideText {
    height: 20%;
    overflow: hidden;
  }
  
  .showText {
    height: 100%;
  
  }
  
  .showReadMore {
    width: 100%; 
    position: absolute; 
    
  }
  
  .showReadLess {
    width: 100%;  
  }